<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      @if (!isHomeRoute) {
        <ion-back-button defaultHref="/" class="btn-back"></ion-back-button>
      }
      @if(showCart) {
        <ion-menu-toggle>
          <ion-button color="dark" (click)="openCartMenu()">
            @if (darkMode) {
            <ion-icon slot="icon-only" name="cart"></ion-icon>
            } @else {
            <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
            }
            </ion-button>
            </ion-menu-toggle>
      }
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    @if (isLoading) {
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    }
    <ion-buttons slot="end">
      <ion-button (click)="setMode()" color="dark">
        @if (darkMode) {
          <ion-icon slot="icon-only" name="moon"></ion-icon>
        } @else {
          <ion-icon slot="icon-only" name="moon-outline"></ion-icon>
        }
      </ion-button>
      <ion-button color="dark" (click)="goTo('account')">
        <ion-icon slot="icon-only" ios="person-circle-outline" md="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>