<app-header title="Compte client" [showCart]="false"></app-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- order-list.component.html -->

  <ion-card *ngFor="let order of orders">
    <ion-card-header>
      <ion-card-title>{{ order.id }}</ion-card-title>
      <ion-card-subtitle>{{ order.createDate | date:'d MMMM y, HH:mm:ss' }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item-divider>
          <ion-label>
            Contenu de la commande
          </ion-label>
        </ion-item-divider>

        <ion-item *ngFor="let item of order.items">
          <ion-thumbnail slot="start">
            <ion-img [src]="'https://picsum.photos/id/152/100/100'" alt="Product Image"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{ item.flower.name }}</h2>
            <p>Quantité: {{ item.quantity }}</p>
            <p>Prix unitaire: {{ item.flower.price | currency:'EUR':'symbol':'1.2-2' }}</p>
            <p>Couleur: {{ item.flower.color }}</p>
          </ion-label>
        </ion-item>

        <!-- Affichage du total de la commande -->
        <ion-item-divider style="margin-top:15px;">
          <ion-label>
            Total de la commande
          </ion-label>
        </ion-item-divider>
        <ion-item lines="none">
          <ion-label slot="start">Total:</ion-label>
          <ion-label slot="end">
            {{ calculateTotal(order.items) | currency:'EUR':'symbol':'1.2-2' }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
