.flower-card {
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  
    ion-img {
      max-height: 200px; /* Ajuster la hauteur maximum de l'image selon vos besoins */
    }
  
    ion-card-header {
      ion-card-title {
        font-size: 1.2rem;
        font-weight: bold;
      }
  
      ion-card-subtitle {
        font-size: 1rem;
      }
    }
  
    ion-card-content {
      font-size: 0.9rem;
      line-height: 1.3;
    }
  
    .custom-ripple {
      background-color: rgba(0, 0, 0, 0.2); /* Couleur du ripple effect */
    }
  
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }
  