<ion-card class="flower-card ion-activatable clickable-card" (click)="onCardClick()">
  <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
  <ion-img src="https://picsum.photos/id/152/1000/600" alt="Flower Image"></ion-img>
  
  <ion-card-header>
    <ion-card-title>{{ flower.name }}</ion-card-title>
    <ion-card-subtitle>{{ flower.price | currency:'EUR':'symbol':'1.2-2' }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{ flower.description }}
  </ion-card-content>
</ion-card>
