/* flower-detail.component.scss */

.flower-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .add-to-cart-btn {
    margin-top: 20px;
  }
  
  ion-card {
    max-width: 600px;
    margin: 20px auto;
  }
  
  ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  ion-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  ion-card-subtitle {
    text-align: center;
    margin-bottom: 10px;
  }
  
  ion-item {
    --ion-item-padding-end: 0;
    --ion-item-padding-start: 0;
  }
  
  ion-label {
    font-weight: bold;
  }
  
  ion-input {
    text-align: center;
  }

  .details-container {
    display: flex;
    flex-direction: column;
  }
  
  .quantity-form {
    width: 100%;
  }
  
  .add-to-cart-btn {
    width: 100%;
  }