<app-header></app-header>

<ion-content class="ion-padding">
  <div class="flower-container">
    <ion-card>
      <img src="https://picsum.photos/id/152/600/400" alt="Flower Image" />

      <ion-card-content>
        <ion-card-title>{{ flower?.name }}</ion-card-title>
        <ion-card-subtitle>{{ flower?.description }}</ion-card-subtitle>

        <div class="details-container">
          <ion-item lines="none">
            <ion-label>Prix unitaire</ion-label>
            <ion-text>{{ flower?.price | currency:'EUR':'symbol':'1.2-2' }}</ion-text>
          </ion-item>

          <form [formGroup]="form" class="quantity-form">
            <ion-item lines="none">
              <ion-label position="stacked">Quantité</ion-label>
              <ion-input formControlName="quantity" type="number" placeholder="0" min="1" required style="width: 100%;"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="quantityControl?.hasError('required') && quantityControl?.touched">
              La quantité est requise.
            </ion-text>
            <ion-text color="danger" *ngIf="quantityControl?.hasError('min') && quantityControl?.touched">
              La quantité doit être au moins de 1.
            </ion-text>
          </form>
        </div>

        <ion-button expand="block" color="primary" (click)="onAddToCart()" class="add-to-cart-btn" style="width: 100%;">
          Ajouter au panier
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
