<ion-app>
    <ion-menu menuId="menu" contentId="main">
      @if(isInitialized) {
      <app-menu></app-menu>
      }
    </ion-menu>
    
    <ion-router-outlet id="main"></ion-router-outlet>
    <ion-toast [isOpen]="isToastOpen" swipeGesture="vertical" [message]="toast?.message" [color]="toast?.type"
      [duration]="5000" (didDismiss)="setToastState(false)"></ion-toast>
</ion-app>
