/* Styles pour les écrans inférieurs à 600px (mobiles) */
@media (max-width: 1000px) {
    .div-position {
        width: 100%;
        margin: 0 auto;
        margin-top: 2%;
    }
    .title {
        margin-left: 5%;
    }
}
  
/* Styles pour les écrans supérieurs à 1200px (grands écrans) */
@media (min-width: 1000px) {
    .div-position {
        width: 70%;
        margin: 0 auto;
        margin-top: 2%;
    }
}