<app-header [title]="'Catalogue de fleurs'"></app-header>

<ion-content id="catalog" [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="div-position">
    <ion-title size="large">Catalogue de fleurs</ion-title>
    <ion-grid>
      <ion-row>
        <ng-container *ngIf="isLoading; else content">
          <!-- Skeleton loader for loading state -->
          <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]">
            <ion-col sizeXl="3" sizeLg="3" sizeMd="3" sizeSm="6" sizeXs="6">
              <ion-card class="ion-activatable clickable-card">
                <ion-ripple-effect class="custom-ripple"></ion-ripple-effect>
                <ion-thumbnail>
                  <ion-skeleton-text animated style="width: 100%; height: 200px;"></ion-skeleton-text>
                </ion-thumbnail>
                <ion-card-header>
                  <ion-card-title>
                    <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
                  </ion-card-title>
                  <ion-card-subtitle>
                    <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ng-container>
        </ng-container>
        
        <ng-template #content>
          <ng-container *ngFor="let flower of catalog?.content">
            <ion-col sizeXl="3" sizeLg="3" sizeMd="3" sizeSm="6" sizeXs="6">
              <app-card [flower]="flower"></app-card>
            </ion-col>
          </ng-container>
        </ng-template>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
