<app-header title="Panier" [showCart]="false"></app-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ng-container *ngIf="isLoading; else content">
      <!-- Skeleton loader for loading state -->
      <ion-item *ngFor="let i of [1, 2, 3, 4, 5]" lines="full">
        <ion-thumbnail slot="start" style="width: 100px; height: 100px;">
          <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
        </ion-thumbnail>

        <ion-label style="margin-left: 10px;">
          <h2><ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text></h2>
          <p><ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text></p>
          <p><ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text></p>
        </ion-label>

        <ion-button fill="outline" size="small" disabled>
          <ion-skeleton-text animated style="width: 20px; height: 20px;"></ion-skeleton-text>
        </ion-button>
        <ion-input disabled style="max-width: 70px;">
          <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
        </ion-input>
        <ion-button fill="outline" size="small" disabled>
          <ion-skeleton-text animated style="width: 20px; height: 20px;"></ion-skeleton-text>
        </ion-button>

        <ion-button fill="outline" color="danger" size="small" disabled>
          <ion-skeleton-text animated style="width: 20px; height: 20px;"></ion-skeleton-text>
        </ion-button>
      </ion-item>

      <!-- Skeleton loader for total -->
      <ion-item lines="none" style="border-top: 1px solid #ccc;">
        <ion-label slot="start"><ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text></ion-label>
        <ion-label slot="end"><ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text></ion-label>
      </ion-item>
    </ng-container>

    <ng-template #content>
      <!-- Content when not loading -->
      <ng-container *ngIf="cart?.items && cart?.items?.length! > 0; else emptyCart">
        @for (item of cart?.items; track item) {
        <ion-item lines="full">
          <!-- Image du produit -->
          <ion-thumbnail slot="start" style="width: 100px; height: 100px;">
            <img src="https://picsum.photos/id/152/600/400" alt="Produit">
          </ion-thumbnail>

          <!-- Détails du produit -->
          <ion-label style="margin-left: 10px;">
            <h2>{{ item?.flower?.name }}</h2>
            <p>{{ item?.flower?.description }}</p>
            <p>Prix: {{ item?.flower?.price }} €</p>
          </ion-label>

          <!-- Quantité avec boutons + et - -->
          <ion-button [disabled]="item.quantity == 1" fill="outline" size="small"
            (click)="decreaseQuantity(item.flower_id, item.quantity)">
            <ion-icon name="remove"></ion-icon>
          </ion-button>
          <ion-input disabled type="number" [(ngModel)]="item.quantity" style="max-width: 70px;"></ion-input>
          <ion-button fill="outline" size="small" (click)="increaseQuantity(item.flower_id, item.quantity)">
            <ion-icon name="add"></ion-icon>
          </ion-button>

          <!-- Bouton de suppression -->
          <ion-button fill="outline" color="danger" size="small" (click)="removeFlower(item.flower_id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
        }

        <!-- Total de la commande -->
        <ion-item lines="none" style="border-top: 1px solid #ccc;">
          <ion-label slot="start">Total:</ion-label>
          @if(!isLoading) {
            <ion-label slot="end">{{ price() }} €</ion-label>
          }
        </ion-item>

        <div class="ion-text-center btn">
          <ion-button expand="block" (click)="confirmCart()">Confirmer</ion-button>
        </div>
      </ng-container>

      <ng-template #emptyCart>
        <ion-item>
          <ion-label>Votre panier est vide.</ion-label>
        </ion-item>
      </ng-template>
    </ng-template>
  </ion-list>
</ion-content>