<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Panier</ion-title>
    <ion-menu-toggle slot="end">
      <ng-container *ngIf="darkMode; else lightMode">
        <ion-icon size="large" name="close-circle" (click)="closeCartMenu()"></ion-icon>
      </ng-container>
      <ng-template #lightMode>
        <ion-icon size="large" name="close-circle-outline" (click)="closeCartMenu()"></ion-icon>
      </ng-template>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content id="cart" class="content">
  <ng-container *ngIf="isLoading; else content">
    <!-- Skeleton loader for loading state -->
    <ion-list [inset]="true">
      <ion-item *ngFor="let i of [1, 2, 3, 4, 5]" style="padding-bottom: 10px;">
        <ion-thumbnail slot="start" style="width: 80px; height: 80px;">
          <ion-skeleton-text animated style="width: 100%; height: 100%;"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <ion-skeleton-text animated style="width: 70%;"></ion-skeleton-text>
        </ion-label>
        <ion-note slot="end" class="note">
          <ion-skeleton-text animated style="width: 20px;"></ion-skeleton-text>
        </ion-note>
      </ion-item>
    </ion-list>
    <div class="ion-text-center btn">
      <ion-skeleton-text animated style="width: 80%; height: 40px;"></ion-skeleton-text>
    </div>
  </ng-container>
  
  <ng-template #content>
    <ng-container *ngIf="cart?.items?.length; else emptyCart">
      <ion-list [inset]="true">
        @for (item of cart?.items; track item) {
        <ion-item [button]="true" style="padding-bottom: 10px;" (click)="goTo('cart')">
          <ion-img style="width:80px;" slot="start" class="img" src="https://picsum.photos/id/152/1000/600"></ion-img>
          <ion-label>{{item?.flower?.name}}</ion-label>
          <ion-note slot="end" class="note">{{item?.quantity}}</ion-note>
        </ion-item>
        }
        </ion-list>
        <div class="ion-text-center btn">
          <ion-button expand="block" (click)="goTo('cart')">Passer au paiement</ion-button>
        </div>
    </ng-container>
    
    <ng-template #emptyCart>
      <div class="ion-text-center btn">
        <ion-button (click)="goTo('catalog')">Parcourir le catalogue</ion-button>
      </div>
    </ng-template>
    </ng-template>
</ion-content>
